.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

*{
  padding: 0;
  margin: 0;
}

/* navbar.jsx */

nav {
  background: #f9f9f9;
  font-family: Hack, monospace;

  .menuItems {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    li {
      margin: 20px;

      a {
        text-decoration: none;
        color: #8f8f8f;
        font-size: 24px;
        font-weight: 400;
        transition: all 0.5s ease-in-out;
        position: relative;
        text-transform: uppercase;
      }
    }
  }
  nav ul.menuItems li a {
    text-decoration: none;
    color: #000; /* Initial color */
    transition: color 0.3s ease; /* Transition duration and effect */
  }
  
  nav ul.menuItems li a:hover {
    color: #ff6347; /* Color change on hover (e.g., tomato color) */
  }
  
}
/* home.jsx */
.banner{
  height: 100vh;
  background-color: #695e5e;
}


/* feature*/

.feature_background{
background-color: #282c34;
width: 100%;
display: flex;
justify-content: center;
padding: 30px;
}
.features{
  height: 60vh;
  width: 90%;
  border-radius: 40px;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
}
.feature{
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 18rem;

}

.feature svg{
  height: 20vh;
}
